<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" password="24Champ24" userName="jamiehalebc@gmail.com" />
    </system.web>
</configuration>

<security:http
  auto-config="true"
  disable-url-rewriting="true"
  use-expressions="true">
    <security:csrf />
      
    <!-- Remaining configuration ... -->
</security:http>