body {
    zoom:67%;
}

.glyphicon glyphicon-ok{
    display:block;
    text-align:center;
}
.dropdown-menu {
    width: 400px;
}
.submit_modal_button{

    text-align: center;
}
.submit_modal_button button{
    min-width: 80%;
}

#header_info {
    border-color: rgba(0, 0, 0, 0.856);
    border-width:1px;
    border-style: solid;
    font-weight: bold;
}
#logout {
    margin: 7px;
    float: right;
}
.panel-body{
    background: rgb(255, 231, 167);
    
}
#customer_option_active_order_button{
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bold;
  

}
#customer_option_changes_button{
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size:170%;

}
#customer_option_button{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 170%;
}
#user_name{
    margin-left: 15px;
    color: darkgreen;  
}
#customer_name{
    margin-left: 15px;
    color: darkgreen;
}
#bottom_option_button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 125%;
}
#product_list{
    margin: 0px;
}
#product_list_modal{
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.856);
    border-width:1px;
    border-style: solid;
}
.panel-group{
    max-height: 600px;
    overflow-y: scroll;
}
#invoice_to_button{
    margin-left: 10px;
    
}
#ship_to_button{
    margin-left: 40px;
}
#inc_product{
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#inc_product_add{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:15px;
    margin-right:15px;
}
#product_list_button{
    min-width: 500px;
    margin-bottom: 10px;
}
#product_option_button{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right:8%;
    margin-left:8%;
    font-size: 2.0vmin;
}
#item_price{
    padding-left: 50px;
    padding-right: 50px;
}
#add_product_list{
    margin-left: 10px;
    max-height: 800px;
    overflow-y: auto;
}
#active_order_list{
    margin-left: 10px;
    max-height: 800px;
    overflow-y: auto;
}
#changes_order_list{
    margin-left: 10px;
    max-height: 800px;
    overflow-y: auto;
}
#get_favourite_order_list{
    margin-left: 10px;
    max-height: 800px;
    overflow-y: auto;
}
#add_product_modal .modal-dialog  {width:80%;}
#active_order_modal .modal-dialog  {width:80%;}
#changes_order_modal .modal-dialog  {width:80%;}
#get_favourite_order_modal .modal-dialog  {width:80%;}
#submit_order_modal .modal-dialog  {width:80%;}

@media screen and (min-width: 768px) {
    #add_product_modal .modal-dialog  {width:900px;}
    #active_order_modal .modal-dialog  {width:900px;}
    #changes_order_modal .modal-dialog  {width:900px;}
    #get_favourite_order_modal .modal-dialog  {width:900px;}
    #submit_order_modal .modal-dialog  {width:900px;}
    body {zoom:auto;}
}
