

table th:first-child{
    border-radius:10px 0 0 10px;
  }
  
  table th:last-child{
    border-radius:0 10px 10px 0;
  }

#header_info {
    border-color: rgba(0, 0, 0, 0.856);
    border-width:1px;
    border-style: solid;
    font-weight: bold;
}
#logout {
    margin: 7px;
    float: right;
}

.panel-body{
    background: rgb(255, 231, 167);
}

#customer_option_active_order_button{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.9vmin;

}

#customer_option_changes_button{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.9vmin;

}
#customer_option_button{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.0vmin;
}

#user_name{
    margin: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

#customer_name{
    margin: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

#bottom_option_button{
   
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    font-size: 2.0vmin;
}

#product_list{
    margin: 0px;
}

#ship_to_button{
    margin-left: 10px;
    margin-right: 10px;
}

#invoice_to_button{
    margin-left: 10px;
    margin-right: 10px;
}

#product_list_modal{
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.856);
    border-width:1px;
    border-style: solid;
}

#PO_num{
    text-align: right;
}