
#user_info_0 td:last-child h3, #user_info_1 td:last-child h3, #user_info_2 td:last-child h3, #user_info_3 td:last-child h3, #user_info_4 td:last-child h3, #user_info_5 td:last-child h3{
  font-weight:normal;
  color:rgb(122, 90, 0);
}

.table button{
  margin-top: 10px;
}
.table button{
  margin-top: 10px;
}
#user_info h3{
  font-weight:bold;
}

#user_list_table{
  height: 500px;      
  overflow-y: auto;    
  overflow-x: hidden; 
}

thead th {
    background-color: rgb(248, 247, 246);
}

