
#create_customer_section .form-group input{
  font-size:16pt;
  height:40px;
  width:95%;
  font-weight:bold;
}
#create_customer_section .form-group div{
  font-size:16pt;
  height:60px;
  width:95%;
  font-weight:bold;
}


#user_section table:nth-child(2) tr:first-child {
  background-color:rgb(224, 224, 224);
  border-style:solid;
  border-width:medium;
}
#user_section td:first-child {
  width:400px;
}

#user_list_table td:first-child {
  width:400px;
}
#user_list_table td {
  padding: 10px 0px;
}
#user_list_table td:nth-child(2), #user_list_table td:nth-child(3) {
  padding: 20px 0px 10px 0px;
}
#user_section table td:nth-child(2), #user_section table td:nth-child(3) {
  width:100px;
}
#user_section table tr:first-child h3{
  font-weight:bold;margin:5px;
}
#user_section button{
  width:45%;margin:5px;font-weight:bold;font-size:25px;padding:10px;
}

#customer_section input.form-control{
  font-size:30px;
  font-weight:bold;
  height:50px;
  text-align:center;
}
#customer_section table, #user_section table{
  margin-bottom:0px;
}
#user_list_table tr{
  background-color:rgb(224, 224, 224);
  border-style:solid;
  border-width:medium;
}
#user_list_table tr{

  background-color:rgb(179, 25, 25);
}
#customer_section td h3, #user_list_table td h3{
  font-weight:bold;
  margin:5px;
}
.info tr{
  background-color:rgb(224, 224, 224);border-style:solid;border-width:medium
}
.info h4{
  font-weight:bold;
}

#customer_list_table tbody {
    height: 550px;      
    overflow-y: auto;    
    overflow-x: hidden;
    cursor: pointer;  
}
#user_list_table tbody {
  height: 400px;      
  overflow-y: auto;    
  overflow-x: hidden; 
  cursor: pointer;  
}
.management_customer_button {
    margin:10px;

    width:400px;
}


.table.all-user-table tr{
  border-width: 0px;
  border-style: none;
  background-color: white;
}

.customer_info, tr {
      font-weight: bold;
}


#add_user_div{
  max-height: 800px;
  overflow-y: auto;
}
#remove_user_div{
  max-height: 800px;
  overflow-y: auto;
}

.info{
  margin-top: 5px;
  margin-bottom: 5px;
}

#ship_to_info tr td h3, #invoice_to_info tr td h3{
  font-size:20px;
  margin:0px;
  text-decoration: underline;
}

#ship_to_info tr td h4, #invoice_to_info tr td h4{
  font-size: 22px;
}

form .form-group{
  margin: 3px;
}

/*Modal Settings*/
#history_modal .modal-dialog, #add_location .modal-dialog   {width:95%;}
@media screen 
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
#history_modal .modal-dialog, #add_location .modal-dialog  {width:900px;}}
@media screen 
    and (min-width: 768px) {
  #history_modal .modal-dialog, #add_location .modal-dialog  {width:900px;}}

  /*Active Order*/
#history_list {
  border-bottom: 1px solid gray;
  
}
#history_list tr{
  border-bottom-style: solid; 
  border-bottom-width: thin; 
}
#history_list td:first-child{
  width:50%;
}
#history_list h3{
  font-size:25px;
  font-weight:bold;
}
#history_list h4{
  font-size:20px;
}