.table button{
  margin-top: 10px;
}
.table button{
  margin-top: 10px;
}
#user_info h3{
  font-weight:bold;
}

#user_list_table{
  height: 500px;      
  overflow-y: auto;    
  overflow-x: hidden; 
}

thead th {
    background-color: rgb(248, 247, 246);
}

