
@-ms-viewport{
  width: device-width;
}


#ship_to_button h4, #invoice_to_button h4, #ship_to_import h4, #invoice_to_import h4{
  font-size: 25px;
}

/* Changes Modal */
#changes_order_list_item td:first-child{
  padding-left:10px;
  width:240px;
}
#changes_order_list_item td:first-child h4{
  font-weight:bold;
  font-size:140%
}
#changes_order_list_item td:nth-child(2){
  width:400px;
}
#changes_order_list_item td:nth-child(2) h3{
  font-weight:bold;
}
#changes_order_list_item td:nth-child(2) h5{
  font-weight:bold;
  font-size:170%;
}
#changes_order_list_item td:nth-child(3){
  width:50px;
}
#changes_order_list_item td:nth-child(3) span{
  font-size:250%;
}
#changes_order_list_item td:nth-child(4){
  width:200px;
  margin-left:40px;
}
#changes_order_list_item td:nth-child(4) h4{
  font-weight:bold;
  text-decoration: underline;
}
#changes_order_list_item td:nth-child(4) h3{
  font-weight:bold;
}


/* Product Accordion*/
#product_list_button h3{
  font-weight:bold;
  font-size: 30px;
}
#product_list_button h4{
  font-size: 20px;
}

#unit_amount h3{
  font-weight:bold;
}
#item_price h3{
  font-weight:bold;
}
#product_list_button{
  white-space: normal;
  text-align:left; 
  padding-left:3px;
}
#inc_product button:first-child{
  font-weight:bold;
  width: 140px;
}
#inc_product button:first-child h3{
  font-size: 30px;
}
#inc_product button:nth-child(2), #inc_product button:nth-child(4){
  font-size:30px;
  
}
#inc_product button:nth-child(3) h3{
  font-size:30px;
  
}
#add_product_modal.modal-dialog.modal-co
/* ADD PRODUCT */
#add_product_list_item tr{
  height:100px;
}
#add_product_list_item td:first-child{
  width:550px;
}
#add_product_list_item td:first-child h3:first-child{
  font-weight:bold;
}
#add_product_list_item td:first-child h3:last-child{
  font-weight:bold;
}

#add_product_list_item td:nth-child(2){
  
  width:120px;
}
#add_product_list_item td:nth-child(2) button{
  margin-top:10px;
  padding:20px;
  width:120px;
}
#add_product_list_item td:nth-child(3) button{
  margin-top:20px;
  padding:15px;
}
#add_product_list_item td:nth-child(4) button{
  margin-top:20px;
  padding:15px;
}

/* ADD PRODUCT */

#history_list_button h4{font-weight:bold;}
#history_list_button td{width:25%;}
#product_list_header h2:last-child{
  font-weight:bold;
  color:black;}
#product_list_header h2:first-child{
  font-weight:bold;
  color:darkgreen;
  float:right;
  font-size: 40px;
}
#product_list_header button{
  font-weight:bold;
  font-size:70%;
}

#logout {
  margin: 7px;
  float: right;
}
.search_field {
  padding-top:10px;
  padding-bottom:10px;
  margin-top:40px;
}
.glyphicon glyphicon-ok{
  display:block;
  text-align:center;
}
.dropdown-menu {
  width: 400px;
}
.submit_modal_button{
  text-align: center;
}
.submit_modal_button button{
  min-width: 80%;
}
#header_info {
  border-color: rgba(0, 0, 0, 0.856);
  border-width:1px;
  border-style: solid;
  font-weight: bold;
}
/* ACCCORDION */
.panel-group.main{
  /*max-height: 700px;*/
  overflow-y: scroll;
}
.panel-body{
  background: rgba(233, 219, 181, 0.493);
}

/* TOP ACTION BUTTONS */

#customer_option_button{
  margin:10px 0px;
  padding:0px;
}
#inc_product{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inc_button{
  font-weight:bold;
}
/* BOTTOM ACTION BUTTONS */
#bottom_option_button{
  margin: 20px 20px;
  width: 90%;
}
/***********************/
#user_name{
 color:rgb(122, 90, 0);
  font-weight:bold;  
}
#customer_name{
 color:rgb(122, 90, 0);
  font-weight:bold; 
}
#product_list{
  margin: 0px;
}
#product_list_modal{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.856);
  border-width:1px;
  border-style: solid;
}
.panel-group.history{
  max-height: 800px;
  overflow-y: scroll;
}
#inc_product_add{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:15px;
  margin-right:15px;
}
.navbar.navbar-default{
  margin-bottom: 0px;
}
#logout {
  margin: 7px;
  float: right;
}
#product_option_button{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:8%;
  margin-left:8%;
}
#item_price{
  padding-left: 10px;
  padding-right: 10px;
}
#add_product_list{
  margin-left: 10px;
  max-height: 1000px;
  overflow-y: auto;
}
#active_order_list{
  margin-left: 10px;
  max-height: 800px;
  overflow-y: auto;
}
#changes_order_list{
  margin-left: 10px;
  max-height: 800px;
  overflow-y: auto;
}
#get_favourite_order_list{
  margin-left: 10px;
  max-height: 1000px;
  overflow-y: auto;
}
#active_order_list{
  margin-left: 10px;
  max-height: 1000px;
  overflow-y: auto;
}
/*Modal Settings */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#add_product_modal .modal-dialog  {width:80%;}
#active_order_modal .modal-dialog  {width:80%;}
#changes_order_modal .modal-dialog  {width:80%;}
#get_favourite_order_modal .modal-dialog  {width:80%;}
#submit_order_modal .modal-dialog  {width:80%;}
#submit_order_modal .modal-dialog  {width:80%;}
#history_order_modal .modal-dialog  {width:80%;}
#add_favourite_order_modal .modal-dialog  {width:80%;}
#delete_order_modal .modal-dialog  {width:80%;}
/* Mobile Screens */
@media screen 
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #add_product_modal .modal-dialog  {width:900px;}
  #active_order_modal .modal-dialog  {width:900px;}
  #changes_order_modal .modal-dialog  {width:900px;}
  #get_favourite_order_modal .modal-dialog  {width:900px;}
  #submit_order_modal .modal-dialog  {width:900px;}
  #history_order_modal .modal-dialog  {width:900px;}
  #add_favourite_order_modal .modal-dialog  {width:900px;}
  #delete_order_modal .modal-dialog  {width:900px;}
}

@media screen 
    and (min-width: 768px) {
    #add_product_modal .modal-dialog  {width:900px;}
    #active_order_modal .modal-dialog  {width:900px;}
    #changes_order_modal .modal-dialog  {width:900px;}
    #get_favourite_order_modal .modal-dialog  {width:900px;}
    #submit_order_modal .modal-dialog  {width:900px;}
    #history_order_modal .modal-dialog  {width:900px;}
    #add_favourite_order_modal .modal-dialog  {width:900px;}
    #delete_order_modal .modal-dialog  {width:900px;}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {zoom:auto;}      
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {zoom:auto;} 
}
@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {zoom:auto;}      
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {zoom:auto;} 
}

  