
@-ms-viewport{
  width: device-width;
}

/*Active Order*/
#active_product_list, favourite_product_list, #conflict_alert_table, #conflict_changes_table, #history_list {
  border-bottom: 1px solid gray;
  
}
#active_product_list tr, #favourite_product_list tr, #conflict_alert_table tr,  #conflict_changes_table tr, #history_list tr{
  border-bottom-style: solid; 
  border-bottom-width: thin; 
}
#active_product_list td:first-child, #favourite_product_list td:first-child, #conflict_alert_table td:first-child, #history_list td:first-child{
  width:50%;
}
#active_product_list h3, #favourite_product_list h3, #changes_order_list_item h3, #conflict_alert_table h3, #conflict_changes_table h3, #history_list h3{
  font-size:25px;
  font-weight:bold;
}
#active_product_list h4, #favourite_product_list h4, #changes_order_list_item h4, #conflict_alert_table h4, #conflict_changes_table h4, #history_list h4{
  font-size:20px;
}

#active_list_button, #favourite_list_button{
  text-align:left; 
  padding-left:6px; 
  height:130px;

}
#active_list_button h3, #favourite_list_button h3{
  font-size: 23px;
  font-weight: bold;
}
#active_list_button span, #favourite_list_button span{
  font-size:25px;
}
#active_list_button td:nth-child(2), #favourite_list_button td:nth-child(2){
  width: 70%;
}

#active_list_button td:last-child, #favourite_list_button td:last-child{
  float: right;
  width:30%;
}
#active_list_panel button.btn-success, #favourite_list_panel button.btn-success{
  padding: 20px 10px;
  margin: 20px 0px;
  font-weight:bold;
  font-size: 35px;
}
/**/


.modal .modal-dialog .modal-header .row .col-sm-2 button{
  font-size: 50px;
  font-weight: bold;
}
.hide{
  visibility: hidden;
}


/* Changes Modal */
#changes_order_list_item tr{
  border-style: solid;
  border-width: 4px;
}
#changes_order_list_item td:first-child{

  width:200px;
}
#changes_order_list_item td:first-child h4{
  font-weight:bold;
  font-size:25px;
}
#changes_order_list_item td:nth-child(2){
  width:400px;
}
#changes_order_list_item td:nth-child(2) h3{
  font-weight:bold;
}

#changes_order_list_item td:nth-child(3){
  width:50px;
}
#changes_order_list_item td:nth-child(3) span{
  font-size:250%;
}
#changes_order_list_item td:nth-child(4){
  width:200px;
  margin-left:40px;
}
#changes_order_list_item td:nth-child(4) h4{
  font-weight:bold;
  text-decoration: underline;
}
#changes_order_list_item td:nth-child(4) h3{
  font-weight:bold;
}


/* Product Accordion*/



#product_list_button{
  white-space: normal;
  text-align:left; 
  padding-left:3px;

}
#product_list_button h3{
  font-weight:bold;
  font-size:27px;
}
#product_list_button h4{
  font-size: 23px;
}

/* ADD PRODUCT */

#add_product_list_item h3{
  font-size: 23px;
}
#add_product_list_item h4{
  font-size: 18px;
}
#add_product_list_item td:first-child{
  width:700px;
}
#add_product_list_item td:first-child h3:first-child{
  font-weight:bold;
}
#add_product_list_item td:first-child h3:last-child{
  font-weight:bold;
}

#add_product_list_item td:nth-child(2) button{
  margin-top:25%;
  padding:20px;
  width:100%;
  font-weight:bold;
  font-size:20px;
}

#add_product_list_item td:nth-child(3) button, #add_product_list_item td:nth-child(4) button{
  margin: 16px 5px;
  height:100px;
  width: 100px;
  font-size:35px;
  font-weight:bold;
  padding:25px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

#add_product_list_item td{
  min-height: 160px;
}

/* ADD PRODUCT */

#history_list_button h4{font-weight:bold;}
#history_list_button td{width:25%;}

#product_list_header h2:first-child{
  font-weight:bold;
  font-family:Verdana, Times, serif;
  float:right;
  font-size: 35px;
  text-shadow: 1px 1px 1px black;
}
#product_list_header h2:last-child{
  font-weight:bold;
  font-family:Verdana, Times, serif;
  text-shadow: 1px 1px 1px black;
  font-size: 35px;
}
#product_list_header button{
  font-weight:bold;
  font-size:30px;
  width: 40px;
}

#logout {
  margin: 7px;
  float: right;
}
.search_field {
  padding-top:10px;
  padding-bottom:10px;
  margin-top:40px;
}
.glyphicon glyphicon-ok{
  display:block;
  text-align:center;
}
.dropdown-menu {
  width: 400px;
}
.submit_modal_button{
  text-align: center;
}

#header_info {
  border-color: rgba(0, 0, 0, 0.856);
  border-width:1px;
  border-style: solid;
  font-weight: bold;
}
/* ACCCORDION */
.panel-group.main{
  margin: 0px;
}
.panel-body{
  background: rgba(114, 106, 89, 0.24);
}

/* TOP ACTION BUTTONS */

#customer_option_button{
  margin:10px 0px;
  padding:0px;
}
#inc_product{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inc_button{
  font-weight:bold;
}
/* BOTTOM ACTION BUTTONS */
#bottom_option_button{
  margin: 10px 1px;
  width: 90%;
}


/**********************/
#user_name{
 color:rgb(122, 90, 0);
  font-weight:bold;  
}
#customer_name{
 color:rgb(122, 90, 0);
  font-weight:bold; 
  margin: 0px 20px; 
  background:rgb(250, 250, 249);
  font-size: 35px;color:rgb(58, 53, 23);
  font-family:Verdana, Times, serif;
  border-style:solid;
  border-width:thin;
  padding:10px;
  border-radius:3px;
  box-shadow: 3px 3px 3px grey;
}
#product_list{
  margin: 0px;
}
#product_list_modal{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.856);
  border-width:1px;
  border-style: solid;
}
.panel-group.history{
  max-height: 800px;
  overflow-y: scroll;
}
#inc_product_add{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:15px;
  margin-right:15px;
}
.navbar.navbar-default{
  margin-bottom: 0px;
}
#logout {
  margin: 7px;
  float: right;
}
#product_option_button{
  font-weight:bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:30px;
  margin: 1% 5%;
  width:40%;
}
#item_price{
  padding-left: 10px;
  padding-right: 10px;
}

#active_order_list{
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}
#changes_order_list{
  max-height: calc(100vh - 320px);
  overflow-y: auto;

}
#ship_location_modal .modal-body, #inv_location_modal .modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
#get_favourite_order_list{
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}
#active_order_list{
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}
/*Modal Settings */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#add_product_modal .modal-dialog  {width:95%;}
#active_order_modal .modal-dialog  {width:95%;}
#changes_order_modal .modal-dialog  {width:95%;}
#get_favourite_order_modal .modal-dialog  {width:95%;}
#submit_order_modal .modal-dialog  {width:95%;}
#submit_order_modal .modal-dialog  {width:95%;}
#history_order_modal .modal-dialog  {width:95%;}
#add_favourite_order_modal .modal-dialog  {width:95%;}
#delete_order_modal .modal-dialog  {width:95%;}
#inv_location_modal .modal-dialog  {width:95%;}
#ship_location_modal .modal-dialog  {width:95%;}
#product_info_modal .modal-dialog  {width:95%;}
#history_modal .modal-dialog  {width:95%;}
/* Mobile Screens */
@media screen 
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #add_product_modal .modal-dialog  {width:900px;}
  #active_order_modal .modal-dialog  {width:900px;}
  #changes_order_modal .modal-dialog  {width:900px;}
  #get_favourite_order_modal .modal-dialog  {width:900px;}
  #submit_order_modal .modal-dialog  {width:900px;}
  #history_order_modal .modal-dialog  {width:900px;}
  #add_favourite_order_modal .modal-dialog  {width:900px;}
  #delete_order_modal .modal-dialog  {width:900px;}
  #inv_location_modal .modal-dialog  {width:900px;}
  #ship_location_modal .modal-dialog  {width:900px;}
  #product_info_modal .modal-dialog  {width:900px;}
  #history_modal .modal-dialog  {width:900px;}
}

@media screen 
    and (min-width: 768px) {
    #add_product_modal .modal-dialog  {width:900px;}
    #active_order_modal .modal-dialog  {width:900px;}
    #changes_order_modal .modal-dialog  {width:900px;}
    #get_favourite_order_modal .modal-dialog  {width:900px;}
    #submit_order_modal .modal-dialog  {width:900px;}
    #history_order_modal .modal-dialog  {width:900px;}
    #add_favourite_order_modal .modal-dialog  {width:900px;}
    #delete_order_modal .modal-dialog  {width:900px;}
    #inv_location_modal .modal-dialog  {width:900px;}
    #ship_location_modal .modal-dialog  {width:900px;}
    #product_info_modal .modal-dialog  {width:900px;}
    #history_modal .modal-dialog  {width:900px;}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {zoom:75%;}      
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {zoom:75%;} 
}
@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {zoom:75%;}      
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {zoom:75%;} 
}

  