<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/customer_home.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Biobest</a>
            </div>
            <a id="logout" class="btn btn-primary" href="#" role="button">Log Out</a>
        </div>
    </nav>
    <div class="container-fluid" style="padding-bottom:40px;">
    <div class="row" >
        <div class="col-md-4">
            <div class="row" style="background: rgba(210, 255, 236, 0.349);">
                <div class="col-sm-5">
                <h4 style="font-weight:bold;padding-left:15px;">User:</h4>
                <h2 id="user_name"></h2>
                </div>
                <div class="col-sm-7">
                <h4 style="font-weight:bold;">Greenhouse:</h4>
                <h2 id="customer_name"></h2><br />
                </div>
            </div>
            <div class="row"  >
                <!-- Ship to Address -->
                <div class="col-sm-5">
                    <h4 style="font-weight: bold;padding-left:30px;">Ship-To Address:</h4>
                    <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" id="ship_to_button" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="ship_to_import">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <!-- Invoice to Address -->
                <div class="col-sm-5">
                    <h4 style="font-weight: bold;">Invoice-To Address:</h4>
                    <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" id="invoice_to_button" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="invoice_to_import">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Top Buttons Top -->    
            <div class="row">  
                <div class="col-sm-5 text-center">
                    <button type="button" class="btn btn-basic btn-sm btn-block btn-disabled" id="customer_option_active_order_button" 
                                data-toggle="modal" data-target="#active_order_modal"></button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 text-center">
                    <button type="button" class="btn btn-basic btn-sm btn-block btn-disabled" id="customer_option_changes_button" 
                                data-toggle="modal" data-target="#changes_order_modal"></button>
                </div>
            </div>  
            <!--Top Buttons Bottom -->    
            <div class="row">  
                <div class="col-sm-5 text-center">
                    <button type="button" class="btn btn-success btn-block btn-sm" id="customer_option_button" data-toggle="modal" data-target="#add_product_modal">Add<br />Product</button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 text-center">
                    <button type="button" class="btn btn-primary btn-block btn-sm" id="customer_option_button" style="margin-left:10px;" 
                                data-toggle="modal" data-target="#get_favourite_order_modal">Get Favourite<br /> Order</button>
                </div>
            </div> 
            </div>
        <!-- Product List -->            
        <div class="col-md-7" style="background: rgba(169, 228, 203, 0.349);padding-bottom:20px;padding-right:30px;">
            <div class="container-fluid">
                <table id="product_list" class="table table-condensed">
                    <thead>
                        <tr>
                            <th id="product_list_header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            <!-- Product List Accordion -->
                            <div class="panel-group main" id="main_accordion">
                                <div class="panel panel-default" id="product_list_panel">
                                    <div class="panel-heading">
                                        <div class="panel-title pull-left">
                                            <a data-toggle="collapse" data-parent="#main_accordion" href="">
                                                <button type="button" id="product_list_button" class="btn btn-basic btn-sm btn-block text-left" style="text-align:left; padding-left:6px"></button>
                                            </a>
                                        </div>
                                        <div class="panel-title pull-right">
                                            <div class="btn-group btn-group-lg" role="group" id="inc_product">
                                                <button type="button" id="item_price" class="btn btn-defualt btn-disabled" style="font-size:125%; font-weight:bold"></button>
                                                <button type="button" class="btn btn-default" style="font-size:125%; font-weight:bold">
                                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                                </button>
                                                <button type="button"  class="btn btn-defualt" style="font-size:125%; font-weight:bold"></button>
                                                <button type="button" class="btn btn-default" style="font-size:125%; font-weight:bold">
                                                    <span class="glyphicon glyphicon-triangle-bottom" ></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-collapse collapse" id="">
                                        <div class="panel-body">
                                            <button type="button" id="product_option_button" class="btn btn-success col-sm-4">Info</button>
                                            <button type="button" id="product_option_button" class="btn btn-danger col-sm-4">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td> 
                    </tbody>
                    <tfoot>
                        <tr>
                            <td ><h3 id="total_cost" style="text-align:right;text-decoration:underline;font-weight:bold;"></h3></td>
                        </tr>
                    </tfoot>  
                </table>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success btn-sm btn-block" id="bottom_option_button"
                                data-toggle="modal" data-target="#submit_order_modal">Submit <br /> Order</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-warning btn-sm btn-block" id="bottom_option_button"
                                data-toggle="modal" data-target="#history_order_modal">Order <br /> History</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-info btn-sm btn-block" id="bottom_option_button" 
                                data-toggle="modal" data-target="#add_favourite_order_modal">Add Order To<br />Favourites</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger btn-sm btn-block" id="bottom_option_button" 
                        data-toggle="modal" data-target="#delete_order_modal">Delete <br /> Order</button>
                </div>              
            </div>
            <div class="col-md-1"></div>
        </div>  
    </div>  
</div>
    <!--Add Product Modal-->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_product_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 style="font-weight:bold;" id="add_header"></h3>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline">
                                
                                <input class="form-control search_field" placeholder="Search"></input>
                    
                                <button class="btn btn-default" style="margin-top:40px;">Go!</button>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-md-12">
                            <div id="add_product_list">
                                <table>
                                    <tbody id="add_product_list_item">
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">   
                    <div class="row" >
                        <div class="btn-group" role="group" style="margin-right: 20%;">
                            <button class="btn btn-sm btn-warning float:left;" style="padding:10px;min-width:200px;"><h3>All</h3></button>
                            <button class="btn btn-sm btn-info" style="padding:10px;min-width:200px;"><h3>Previous</h3></button>
                            <button class="btn btn-sm btn-primary" style="padding:10px;min-width:200px;"><h3>Favourites</h3></button>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
    <!-- Active Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="active_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Active Order(s)<br />For Week #1</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-md-12">
                            <div id="active_order_list">
                                <table>
                                    <tbody id="active_order_list_item"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Changes Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="changes_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 style="font-weight:bold;">Changes To Order<br />Since Your Last Visit</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-md-12">
                            <div id="changes_order_list">
                                <table>
                                    <tbody id="changes_order_list_item"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Get Favourite Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="get_favourite_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 style="font-weight:bold;">Favourite Orders</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-md-12">
                            <div id="get_favourite_order_list">
                                <table>
                                    <tbody id="get_favourite_order_list_item"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Submit Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="submit_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 style="font-weight:bold;">Submit Order</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        
                            <div class="col-sm-6">
                                <div class="submit_modal_button">
                                <button class="btn btn-lg btn-success "><h3 style="font-weight:bold">Submit And Keep <br />Currrent Order Active</h3></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div class="submit_modal_button">
                                <button class="btn btn-lg btn-info"><h3 style="font-weight:bold;">Submit And <br /> Start A New Order</h3></button>
                                    </div>
                            </div>
                        
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- History Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="history_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 style="font-weight:bold;">Order History</h3>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline">
                                <input class="form-control search_field" placeholder="Search"></input>
                                <button class="btn btn-default" style="margin-top:40px;">Go!</button>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <!-- History List Accordion -->
                        <div class="panel-group history" id="history_accordion">
                                <div class="panel panel-default" id="history_list_panel">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#history_accordion" href="">
                                            <button type="button" id="history_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px"></button>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-collapse collapse" id="">
                                        <div class="panel-body" id="history_product_list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Add Favourite Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="add_favourite_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Order Modal -->
    <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="delete_order_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>

<script src="js/customer_home.js"></script>
</body>
</html>