<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=.37, user-scalable=no" />
    
    <!-- Bootstrap -->
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link th:href="@{css/common.css}" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
</head>
<body style="background-color: rgba(253, 217, 108, 0.288);">
        <div class="jumbotron">
            <img th:src="@{images/biobest_logo.jpg}" class="rounded " style=" display: block;margin-left: auto;margin-right: auto;width: 900px;" />
            <div class="container">
                
                <form th:action="@{/login}" method="POST" style="width: 60%; margin: auto;" enctype="utf8">
                    <div th:if="${param.error}" class="alert alert-danger" style="margin-top: 1%; font-size:25px;height:70px;">Invalid email and password!</div>
                    <div th:if="${param.logout}" class="alert alert-success" style="margin-top: 1%; font-size:25px;height:70px;">You have been logged out.</div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input id="username" name="username" type="email" class="form-control" placeholder="Email" style="margin-top: 1%; font-size:30px;height:70px;"/>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" style="margin-top: 1%; font-size:30px;height:70px;"/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-custom-2 btn-lg" style="width: 80%; margin: 5% 10%; font-size:50px;">Log in</button>
                    </div>   
                </form>
            
            </div>
        </div>
          
</body>
</html>
