<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Biobest App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="css/management_customers.css" rel="stylesheet"/>
        <link href="css/common.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5, minimum-scale=.5 user-scalable=no"/>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
    </head>

<body style="background-color: rgba(255, 250, 235, 0.288);">
    <!-- Navbar -->
    <div class="container-fluid" style="padding:0px; margin: 0px;">
        <nav class="navbar navbar-default"  style="box-shadow: 2px 2px 2px grey;background-color:rgba(83, 83, 83, 0.096)">
               <a href="/management_customers.html" class="btn btn-custom-1" style="text-shadow: 1px 1px 1px grey;font-weight:bold;font-size:30px;width:200px;margin:6px;font-family:Verdana, Times, serif;" role="button">Customers</a>
               <a href="/management_users.html" class="btn btn-default" style="text-shadow: 1px 1px 1px grey;font-weight:bold;font-size:30px;width:200px;margin:6px;font-family:Verdana, Times, serif;" role="button">Users</a>
            
            <a id="logout" class="btn btn-custom-2" href="/logout" role="button"  style="text-shadow: 1px 1px 1px grey;font-weight:bold;font-size:30px;width:200px;margin:6px;font-family:Verdana, Times, serif;">Log out</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12" id="user_section" style="background-color: hsla(48, 97%, 41%, 0.384) ;border-style:solid;border-width:thick;padding:10px;border-radius:10px;box-shadow: 3px 3px 3px grey; margin: 0px 10px; " >
                    <h3 class="header-label" style="text-shadow:1px 1px 1px black;font-size:30px;text-align:center;margin-top:0px;font-weight:bold">Users In System</h3>
                    <input type="text" class="form-control" placeholder="Search" style="width:80%;margin: 1% 10%;font-size:30px;font-weight:bold;height:50px;text-align:center;"/>
                    <table class="table"><tbody><tr style="background-color:rgb(224, 224, 224);border-style:solid;border-width:medium;"><td><h3>User Name</h3></td></tr></tbody></table>
                    <div id="user_list_table" style="max-height: 500px;overflow-y: auto;">
                        <table class="table table-hover" style="text-shadow:1px 1px 1px black;background-color:rgb(255, 217, 0);">
                            <tbody id="user_list" style="font-size:25px;font-weight:bold;cursor: pointer;height: 100%;   
                            overflow-y: auto;    
                             "></tbody></table>
                    </div>
                </div>
            </div>
       
            <div class="col-xs-6">   
                <div class="col-xs-12" id="user_section" style="background-color: hsla(48, 50%, 34%, 0.384) ;border-style:solid;border-width:thick;padding:10px;border-radius:10px;box-shadow: 3px 3px 3px grey;margin:0px -10px;">
                    <h3 class="header-label" style="text-shadow:1px 1px 1px black;font-size:30px;text-align:center;margin-top:0px;font-weight:bold">Linked Customers</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                <td><h3>Customer</h3></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="customer_list_table" >
                            <table class="table table-hover">
                                <tbody id="customer_list" style="text-shadow:1px 1px 1px grey;">
                                </tbody>
                            </table>
                        </div>
                    <div style="text-align:center;">
                        <button type="button" disabled="true" class="btn btn-success" id="add_customer_button" onclick="addCustomer()">
                            Add
                        </button>
                        <button type="button" disabled="true" class="btn btn-danger" id="remove_customer_button" onclick="removeCustomer()">
                            Remove
                        </button>  
                    </div>
                </div>
            </div>  
    </div>
    <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <button type="button" onclick="showInfo()" disabled="true" class="btn btn-lg btn-custom-0" style="font-size:30px;font-weight:bold;width:80%;margin-top:20px;box-shadow: 3px 3px 3px grey;text-shadow:1px 1px 1px black;">
                    User Details
                </button>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-8" id="details_section" hidden="true" style="border-style: solid; border-width:thick;background-color:rgb(255, 239, 148);border-radius:20px;box-shadow: 10px 10px 10px grey;margin:5px; padding:20px;">
                <button class="btn btn-default" style="font-size:20px;float:right;">Edit</button>
                <table class="table info">
                        
                    
                    <tbody id="user_info">
  
                    </tbody>
                </table>
                <div style="text-align:center;margin-bottom:20px;">
                    <button disabled="true" type="button" class="btn btn-md btn-custom-0" style="width:45%;margin:5px;"><h3 style="font-weight:bold;">Reset Password</h3></button>
                    <button disabled="true" type="button" class="btn btn-md btn-danger" style="width:45%;margin:5px;"><h3 style="font-weight:bold;">Delete User</h3></button>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-12" style="text-align:center;">
                <button type="button" onclick="showCreate()" class="btn btn-lg btn-success" style="font-size:30px;font-weight:bold;width:80%;margin-top:20px;box-shadow: 3px 3px 3px grey;text-shadow:1px 1px 1px black;">
                    Create User
                </button>
            </div>
            <div class="col-xs-12" id="create_section" hidden="true" style="padding:20px;border-style: solid; border-width:thick;background-color:rgb(255, 239, 148);margin:20px 0px;border-radius:20px;box-shadow: 10px 10px 10px grey;width:90%;margin: 5px 5%;">
                    
                    <form action="/management_users" th:object="${appUser}" method="POST" enctype="utf8">
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="First Name" th:field="*{firstName}" style="font-size:30px;height:50px;"></input>
                            <div th:each="error : ${#fields.errors('firstName')}" class="alert alert-danger" th:text="${error}" style="font-size:20px;height:50px;"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="Last Name" th:field="*{lastName}" style="font-size:30px;height:50px;"></input>
                            <div th:each="error : ${#fields.errors('lastName')}" class="alert alert-danger" th:text="${error}" style="font-size:20px;height:50px;"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="Email" th:field="*{email}" style="font-size:30px;height:50px;"></input>
                            <div th:each="error : ${#fields.errors('email')}" class="alert alert-danger" th:text="${error}" style="font-size:20px;height:50px;"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control required" th:field="*{type}" style="font-size:20pt;height:50px;">
                                <option value="" class="disabled selected hidden">Type</option>
                                <option value="General">General</option>
                                <option value="Consultant">Consultant</option>
                            </select>
                            <div th:each="error : ${#fields.errors('type')}" class="alert alert-danger" th:text="${error}" style="font-size:20px;height:50px;"></div>
                        </div>
                        <div class="form-group">
                            <h3>Password:</h3>
                                <input id="pass_field" type="text" autocomplete="off" class="form-control" placeholder="Password" th:field="*{password}" style="font-size:30px;height:50px;"></input>
                                <div th:each="error : ${#fields.errors('password')}" class="alert alert-danger" th:text="${error}" style="font-size:20px;height:50px;" id="pass_test"></div>
                            <h3>Email this password to user. If lost navigate to user --> User Details --> Reset Password</h3>
                            </div>
                        <button type="submit" class="btn btn-success btn-block" id="create_submit_button">
                            <h3 style="font-weight:bold;font-size:30px;">Create</h3>
                        </button>
                    </form>
                </div>
    </div>
        
    </div>

    <!-- Add User to Customer Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="remove_customer_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 style="font-weight:bold;">Users Linked To Customer</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;"><h3>Close</h3></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="remove_customer_div">
                                <table class="table table-striped remove-customer-table" style="border-style:solid;border-width:thin;">
                                    <tbody id="remove_customer_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                       
                </div>
            </div>
        </div>
    </div>
    <!-- Add User to Customer Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_customer_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 style="font-weight:bold;">Users Registered In System</h3>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;"><h3>Close</h3></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="add_customer_div">
                                <table class="table table-striped add-customer-table" style="border-style:solid;border-width:thin;">
                                    <tbody id="add_customer_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                       
                </div>
            </div>
        </div>
    </div>
<script src="js/management_users.js"></script>
<script src="js/management_functions.js"></script>
</body>
</html>