<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Biobest App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        
        <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5, minimum-scale=.5 user-scalable=no"/>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/common.css" rel="stylesheet"/>
        <link href="css/management_common.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
    </head>

<body>
    <!-- Navbar -->
    <div class="container-fluid">
        <nav class="navbar navbar-default" >
               <a href="/management_customers.html" class="btn btn-custom-1" role="button">Customers</a>
               <a href="/management_users.html" class="btn btn-default" role="button">Users</a>
            
            <a id="logout" class="btn btn-custom-2" href="/logout" role="button">Log out</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12" id="user_section">
                    <h3 class="header-label" >Users In System</h3>
                    <input type="text" class="form-control" placeholder="Search" />
                    <table class="table list-header"><tbody><tr ><td><h3>User Name</h3></td></tr></tbody></table>
                    <div id="user_list_table">
                        <table class="table table-hover" >
                            <tbody id="user_list"></tbody></table>
                    </div>
                </div>
            </div>
       
            <div class="col-xs-6">   
                <div class="col-xs-12" id="customer_section" >
                    <h3 class="header-label">Linked Customers</h3>
                        <table class="table list-header">
                            <tbody>
                                <tr>
                                <td><h3>Customer</h3></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="customer_list_table" >
                            <table class="table table-hover">
                                <tbody id="customer_list" >
                                </tbody>
                            </table>
                        </div>
                    <div style="text-align:center;">
                        <button type="button" disabled="true" class="btn btn-success" id="add_customer_button" onclick="addCustomer()">
                            Add
                        </button>
                        <button type="button" disabled="true" class="btn btn-danger" id="remove_customer_button" onclick="removeCustomer()">
                            Remove
                        </button>  
                    </div>
                </div>
            </div>  
    </div>
    <div class="row" style="margin-bottom:50px;">
            <div style="text-align:center;">
                <button type="button" onclick="showInfo()" disabled="true" class="btn btn-lg btn-custom-0 btn-function">
                    User Details
                </button>
            </div>
            <div class="col-xs-12" id="details_section" hidden="true">
                    <button class="btn btn-default" >Edit</button>
                <table class="table info">
                    <tbody id="user_info"></tbody>
                </table>
                <div>
                    <button disabled="true" type="button" class="btn btn-md btn-custom-0"><h3>Reset Password</h3></button>
                    <button disabled="true" type="button" class="btn btn-md btn-danger"><h3>Delete User</h3></button>
                </div>
            </div>
            <div  style="text-align:center;">
                <button type="button" onclick="showCreate()" class="btn btn-lg btn-success btn-function">
                    Create User
                </button>
            </div>
            <div class="col-xs-12" id="create_user_section" hidden="true">
                    
                    <form action="/management_users" th:object="${appUser}" method="POST" enctype="utf8">
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="First Name" th:field="*{firstName}"  />
                            <div th:each="error : ${#fields.errors('firstName')}" class="alert alert-danger" th:text="${error}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="Last Name" th:field="*{lastName}"  />
                            <div th:each="error : ${#fields.errors('lastName')}" class="alert alert-danger" th:text="${error}"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" placeholder="Email" th:field="*{email}"  />
                            <div th:each="error : ${#fields.errors('email')}" class="alert alert-danger" th:text="${error}"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control required" th:field="*{type}" >
                                <option value="" class="disabled selected hidden">Type</option>
                                <option value="General">General</option>
                                <option value="Consultant">Consultant</option>
                            </select>
                            <div th:each="error : ${#fields.errors('type')}" class="alert alert-danger" th:text="${error}"></div>
                        </div>
                        <div class="form-group">
                            <h3>Password:</h3>
                                <input id="pass_field" type="text" autocomplete="off" class="form-control" placeholder="Password" th:field="*{password}"  />
                                <div th:each="error : ${#fields.errors('password')}" class="alert alert-danger" th:text="${error}" id="pass_test"></div>
                            <h3>Email this password to user. If lost navigate to user --> User Details --> Reset Password</h3>
                            </div>
                        <button type="submit" class="btn btn-success btn-block" id="create_submit_button">
                            <h3 >Create</h3>
                        </button>
                    </form>
                </div>
    </div>
        
    </div>

    <!-- Add Customer to User Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="remove_customer_modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3>Customers Linked To<br />User</h3>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-custom-2 btn-lg" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">   
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="remove_customer_div">
                                    <table class="table table-striped remove-user-table">
                                        <tbody id="remove_customer_list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                           
                    </div>
                </div>
            </div>
        </div>
        <!-- Add User to Customer Modal -->
        <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_customer_modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3>Customer Not Linked To<br />User</h3>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-custom-2 btn-lg" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">   
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="add_customer_div">
                                    <table class="table table-striped add-user-table">
                                        <tbody id="add_customer_list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                           
                    </div>
                </div>
            </div>
        </div>
<!-- Session Timeout Modal -->
<div class="modal bs-modal-xs" tabindex="-1" role="dialog" id="session_timeout_modal">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            <div class="modal-body"> 
                
                <h3 >Your session has expired... <br />Please Log in again</h3>
                    
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<script src="js/session_timer.js"></script>
<script src="js/management_users.js"></script>
<script src="js/management_functions.js"></script>
</body>
</html>