<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/management_home.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body style="background-color: rgba(223, 252, 252, 0.733)">
    <div class="container">
        <div class="row">   
            <div class="col-md-6">
                <h4>Add User/ Zero Checks</h4>
                <input type="text" id="test_first_name" placeholder="first name" /> 
                <input type="text" id="test_last_name" placeholder="last name" />
                <input type="text" id="test_phone" placeholder="phone" /> 
                <input type="text" id="test_email" placeholder="email" />
                <input id="submit_button" type="button" value="Go" />
            </div>  
            <div class="col-md-3">
                <h4>Add Customer/ Zero Checks</h4>
                <h4>Inv-TO</h4>
                <input type="text" id="inv_company" placeholder="company"/> 
                <input type="text" id="inv_contact" placeholder="contact"/>
                <input type="text" id="inv_address" placeholder="address"/>
                <input type="text" id="inv_city_state" placeholder="City/State"/>
                <input type="text" id="inv_zip" placeholder="Zip/Postal"/>   
                <input type="text" id="inv_phone" placeholder="Phone"/> 
                <input type="text" id="inv_fax" placeholder="Fax"/> 
                <input type="text" id="inv_email" placeholder="Email"/>
                
            </div>
            <div class="col-md-3">
                <h4>Add Customer/ Zero Checks</h4>
                <h4>Ship-to</h4>
                <input type="text" id="ship_company" placeholder="company"/> 
                <input type="text" id="ship_contact" placeholder="contact"/>
                <input type="text" id="ship_address" placeholder="address"/>
                <input type="text" id="ship_city_state" placeholder="City/State"/>
                <input type="text" id="ship_zip" placeholder="Zip/Postal"/>   
                <input type="text" id="ship_phone" placeholder="Phone"/> 
                <input type="text" id="ship_fax" placeholder="Fax"/> 
                <input type="text" id="ship_email" placeholder="Email"/>
                <input id="submit_customer_button" type="button" value="Go" />
            </div>
            
            
        </div>
    </div>
<script src="js/management_home.js"></script>
</body>
</html>