<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    
    <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5, minimum-scale=.5 user-scalable=no"/>
    <!-- Bootstrap -->
    
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/management_common.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" >
            <a href="/management_customers.html" class="btn btn-default" role="button">Customers</a>
            <a href="/management_users.html" class="btn btn-custom-1" role="button">Users</a>
            <a id="logout" class="btn btn-custom-2" href="/logout" role="button">Log out</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12" id="customer_section">
                        <h3 class="header-label">Customer List</h3>
                        <input type="text" class="form-control" placeholder="Search" />
                        <table class="table list-header"><tbody><tr><td><h3>Customer Name</h3></td></tr></tbody></table>
                        <div id="customer_list_table">
                            <table class="table table-hover"><tbody id="customer_list"></tbody></table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">   
                    <div class="col-xs-12" id="user_section">
                        <h3 class="header-label">Linked Users</h3>
                            <table class="table list-header">
                                <tbody >
                                    <tr>
                                    <td style="width:55%"><h3>User Name</h3></td>
                                    <td><h3>Type</h3></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="user_list_table" >
                                <table class="table table-hover">
                                    <tbody id="user_list" >
                                    </tbody>
                                </table>
                            </div>
                        <div style="text-align:center;">
                            <button type="button" disabled="true" class="btn btn-success" id="add_user_button" onclick="addUser()">
                                Add
                            </button>
                            <button type="button" disabled="true" class="btn btn-danger" id="remove_user_button" onclick="removeUser()">
                                Remove
                            </button>  
                        </div>
                    </div>
                </div>  
        <div class="row" >
            <div style="text-align:center;">
                <button type="button" onclick="showInfo();" disabled="true" class="btn btn-lg btn-custom-0 btn-function">
                    Shipping and Invoice Information
                </button>
            </div>
        
            <div hidden="true" class="col-xs-12" id="information_section" >
                    <div class="row">
                        <div class="col-xs-6 ">  
                            <button class="btn btn-default" style="float: right">Edit</button>
                            <table class="table info" style="text-align: center">
                                <thead><tr>
                                    <td>
                                    <span class="glyphicon glyphicon-triangle-left" onclick="decInvIndex()"></span>
                                    <button class="btn btn-custom-2" id="inv_index"> </button>
                            
                                    <span class="glyphicon glyphicon-triangle-right" onclick="incInvIndex()"></span>
                                    </td>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table info">       
                                 <tbody id="invoice_to_info">
                                    <tr><td>
                                    </td></tr>
                                </tbody>
                            </table> 
                        </div>  
                        <div class="col-xs-6">
                            <button class="btn btn-default" style="float: right">Edit</button>
                            <table class="table info" style="text-align: center">
                                <thead><tr><td>
                                    <span class="glyphicon glyphicon-triangle-left" onclick="decShipIndex()"></span>
                                    <button class="btn btn-custom-2" id="ship_index"></button>
                                    <span class="glyphicon glyphicon-triangle-right" onclick="incShipIndex()"></span>
                                </td>
                                </tr>
                                </thead>
                            </table>
                            <table class="table info">
                                <tbody id="ship_to_info">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" disabled="true" data-toggle="modal" data-target="#add_location_modal" class="btn btn-lg btn-success">Add Location</button>
                    </div>
                </div>
        
            </div>  
        </div>
    </div>


    <div class="col-xs-12" style="text-align:center;">
        <button type="button" data-toggle="modal" data-target="#history_modal" disabled="true" class="btn btn-lg btn-custom-0 btn-function">
            Order History
        </button>
    </div>
    <div class="col-xs-12" style="text-align:center;">
        <button type="button" onclick="showCreate()" class="btn btn-lg btn-success btn-function">
            Create Customer
        </button>
    </div>
    <div class="col-xs-12" style="margin-bottom:50px;">
    <div class="col-xs-12" hidden="true" id="create_customer_section">
        <form action="/management_customers" th:object="${customerDto}" method="POST" enctype="utf8">
            <h4>Create customer by entering primary locations/information. Add additional locations/information after.</h4>
            <div class="col-xs-6">
            <label><h3>Invoice</h3></label>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Company" th:field="*{invCompany}" />
                <div th:each="error : ${#fields.errors('invCompany')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Contact" th:field="*{invContact}" />
                <div th:each="error : ${#fields.errors('invContact')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">  
                <input typr="text" autocomplete="on" class="form-control" placeholder="Address" th:field="*{invAddress}" />
                <div th:each="error : ${#fields.errors('invAddress')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="City/State" th:field="*{invCityState}" />
                <div th:each="error : ${#fields.errors('invCityState')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Zip" th:field="*{invZip}" />
                <div th:each="error : ${#fields.errors('invZip')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Email" th:field="*{invEmail}" />
                <div th:each="error : ${#fields.errors('invEmail')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Phone" th:field="*{invPhone}" />
                <div th:each="error : ${#fields.errors('invPhone')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            <div class="form-group">
                <input typr="text" autocomplete="on" class="form-control" placeholder="Fax" th:field="*{invFax}" />
                <div th:each="error : ${#fields.errors('invFax')}" class="alert alert-danger" th:text="${error}"></div>
            </div>
            </div>
            <div class="col-xs-6">
                <label><h3>Shipping</h3></label>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Company" th:field="*{shipCompany}" />
                    <div th:each="error : ${#fields.errors('shipCompany')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Contact" th:field="*{shipContact}" />
                    <div th:each="error : ${#fields.errors('shipContact')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Address" th:field="*{shipAddress}" />
                    <div th:each="error : ${#fields.errors('shipAddress')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="City/State" th:field="*{shipCityState}" />
                    <div th:each="error : ${#fields.errors('shipCityState')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Zip" th:field="*{shipZip}" />
                    <div th:each="error : ${#fields.errors('shipZip')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Email" th:field="*{shipEmail}" />
                    <div th:each="error : ${#fields.errors('shipEmail')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Phone" th:field="*{shipPhone}" />
                    <div th:each="error : ${#fields.errors('shipPhone')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <input typr="text" autocomplete="on" class="form-control" placeholder="Fax" th:field="*{shipFax}" />
                    <div th:each="error : ${#fields.errors('shipFax')}" class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>
            <div style="text-align:center">
                <button type="submit" class="btn btn-success">
                        Create
                </button>
            </div>
        
            
        </form>
    </div>
</div>
    <!-- History Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="history_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 style="font-weight:bold;font-size:40px;">History</h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;font-size:40px;font-weight:bold;">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-xs-12">
                            
                                <!-- history List Accordion -->
                                <div class="panel-group" id="history">
                                    <div class="panel panel-default" id="history_panel">
                                        <div class="panel-heading">
                                            <div class="panel-title pull-left" style="width:100%;">
                                                <a data-toggle="collapse" data-parent="#history_accordion" href="">
                                                    <button type="button" id="history_button" class="btn btn-basic btn-xs btn-block" style="text-align:left; padding-left:6px"></button>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-collapse collapse" id="">
                                            <div class="panel-body">
                                                  
                                                            <table id="history_list">
                    
                                                            </table>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">              
                </div>
            </div>
        </div>
    </div>
    <!-- Add User to Customer Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="remove_user_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3>Users Linked To<br />Customer</h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="remove_user_div">
                                <table class="table table-striped remove-user-table">
                                    <tbody id="remove_user_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                       
                </div>
            </div>
        </div>
    </div>
    <!-- Add User to Customer Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_user_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3>Users Not Linked To<br />Customer</h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="add_user_div">
                                <table class="table table-striped add-user-table">
                                    <tbody id="add_user_list">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                       
                </div>
            </div>
        </div>
    </div>
    <!-- Add Location to Customer Modal -->
    <div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_location_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3>Enter location information</h3>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">   
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">                              
                            <table >
                                <select id="loc_type">
                                    <option value="Type" class="disabled selected hidden">Type</option>
                                    <option value="Invoice">Invoice</option>
                                    <option value="Shipping">Shipping</option>
                                </select>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Company" id="loc_company" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Contact" id="loc_contact" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Address" id="loc_address" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="City/State" id="loc_city_state" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Zip" id="loc_zip" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Email" id="loc_email" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Phone" id="loc_phone" /></tr>
                                <tr><input type="text" autocomplete="on" class="form-control" placeholder="Fax" id="loc_fax" /></tr>                            
                            </table>          
                            <button type="submit" class="btn btn-success" onclick="createLocation()">
                                Create Location
                            </button>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div class="modal-footer"> 
                       
                </div>
            </div>
        </div>
    </div>
<!-- Session Timeout Modal -->
<div class="modal bs-modal-xs" tabindex="-1" role="dialog" id="session_timeout_modal">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            <div class="modal-body"> 
                
                <h3 >Your session has expired... <br />Please Log in again</h3>
                    
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<script src="js/session_timer.js"></script>
<script src="js/management_customers.js"></script>
</body>
</html>