<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/management_users.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>

<body style="background-color: rgba(223, 252, 252, 0.733)">
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><h4 style="font-weight:bold;">Biobest Order App</h4></a>
            </div>
            <ul class="nav navbar-nav">
                <li >
                    <a href="management_customers.html"><h4>Customers</h4></a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="management_users.html"><h4>Users</h4></a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li >
                    <a href="management_prices.html"><h4>Prices</h4></a>
                </li>
            </ul>
            <a id="logout" class="btn btn-primary" href="/logout" role="button"><h4>Log out</h4></a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                
                <h3 class="header-label" >User List:</h3>
                    <input type="text" class="form-control" placeholder="Search" style="font-size:16pt;height:40px;width:300px;margin-left:10%;margin-bottom:10px;"/>
                    <table class="table table-striped" style="margin-bottom:0px;">
                        <tbody> 
                            <tr style="background-color:rgb(224, 224, 224);">
                                <td><h3 style="font-weight:bold;">Users In System</h3></td>
                            </tr>  
                        </tbody>
                    </table>
                    <div id="user_list_table">
                        <table class="table table-hover">
                        
                            <tbody id="user_list">   
                            </tbody>
                        </table>
                    </div>
              
              
                <!-- Bootom Buttons -->
                
            </div>
            <div class="col-sm-7" >
            <h3 class="header-label">User Information:</h3>
                    <table class="table info">
                        <tbody id="user_info" class="border-class">
                            <tr id="user_info_0" style="border-style:none;"><td style="width:200px;"><h3 >First Name:</h3></td><td><h3 style="font-weight:normal">-----------</h3></td></tr>
                            <tr id="user_info_1" style="border-style:none;"><td style="width:200px;"><h3 >Last Name:</h3></td><td><h3 style="font-weight:normal">-----------</h3></td></tr>
                            <tr id="user_info_2" style="border-style:none;"><td style="width:200px;"><h3 >Email:</h3></td><td><h3 style="font-weight:normal">-----------</h3></td></tr>
                            <tr id="user_info_3" style="border-style:none;"><td style="width:200px;"><h3 >Password:</h3></td><td><h3 style="font-weight:normal">-----------</h3></td></tr>
                            <tr id="user_info_4" style="border-style:none;"><td style="width:200px;"><h3 >Status:</h3></td><td><h3 style="font-weight:normal">-----------</h3></td></tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5" >
                <h3 class="header-label" >Linked Customers:</h3>
                <table class="table table-striped" style="margin-bottom:0px;">
                        <tbody> 
                            <tr style="background-color:rgb(224, 224, 224);">
                                <td><h3 style="font-weight:bold;">Customer Name</h3></td>
                            </tr>  
                        </tbody>
                    </table>
     
                
                <table style="width:100%">
                    <tbody id="customer_list">
                        
                    </tbody>
                </table>
         
            </div>
            <div class="col-sm-7" >
                    <h3 class="header-label">Create User:</h3>
                <form action="/create_user" th:object="${appUser}" method="POST" enctype="utf8">
                    <lable></lable>
                    <div class="form-group">
                        <input typr="text" class="form-control" placeholder="First Name" th:field="*{firstName}"></input>
                        <div th:each="error : ${#fields.errors('firstName')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <div class="form-group">
                        <input typr="text" class="form-control" placeholder="Last Name" th:field="*{lastName}"></input>
                        <div th:each="error : ${#fields.errors('lastName')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <div class="form-group">
                        <input typr="text" class="form-control" placeholder="Email" th:field="*{email}"></input>
                        <div th:each="error : ${#fields.errors('email')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <div class="form-group">
                        <input typr="text" class="form-control" placeholder="Password" th:field="*{password}"></input>
                        <div th:each="error : ${#fields.errors('password')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control required" th:field="*{type}">
                            <option value="" class="disabled selected hidden">Type</option>
                            <option value="General">General</option>
                            <option value="Consultant">Consultant</option>
                        </select>
                        <div th:each="error : ${#fields.errors('type')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control required" th:field="*{activeStatus}" >
                            <option value="" class="disabled selected hidden">Status</option>
                            <option value="Active">Active</option>
                            <option value="Not-Active">Not-Active</option>
                        </select>
                        <div th:each="error : ${#fields.errors('activeStatus')}" class="alert alert-danger" th:text="${error}"></div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" id="create_submit_button">
                        <h4>Create User</h4>
                    </button>
                </form>
            </div>
        
    </div>
<script src="js/management_users.js"></script>
</body>
</html>