<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/management_home.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body style="background-color: rgba(223, 252, 252, 0.733)">
    <div class="container">
        <form action="management_users" th:object="${user}" method="POST" enctype="utf8">
            <div class="form-group">
                <input type="text" class="form-control" id="create_first_name" placeholder="First Name" th:field="*{firstName}" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="create_last_name" placeholder="Last Name" th:field="*{lastName}" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="create_phone" placeholder="Phone" th:field="*{phone}" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="create_email" placeholder="Email" th:field="*{email}" />
            </div>
            <button type="submit">Create Vehicle</button>
        </form> 
    </div>
<script src="js/management_home.js"></script>
</body>
</html>