<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="css/user_current_order.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body style="background-color: rgba(255, 242, 202, 0.288);">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-left"></a>
                    </div>
                    
                    <a id="logout" class="btn btn-custom-0" href="/logout" role="button"><h3>Log out</h3></a>
                </div>
            </nav>
        </div>
    </nav>
    <div class="container-fluid">
    <div class="row" >
        <div class="col-md-5" >
            <div class="row">
                <div class="col-sm-12" style="text-align: center;background-color:rgb(250, 247, 236);padding-top:15px;">

                <h2 id="customer_name" ></h2><br />
                </div>
            </div>
            <div class="row" style=" text-align:center;padding: 0px 20px 20px 20px;" >
            <!-- Ship to Address -->
            <div class="col-sm-6" >
                <h3 style="font-weight: bold;font-size:30px;">Ship-To Address:</h3>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="ship_to_button" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="ship_to_import">
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Invoice to Address -->
            <div class="col-sm-6" >
                <h3 style="font-weight: bold; font-size:30px;">Invoice-To Address:</h3>
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="invoice_to_button" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="invoice_to_import">
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Top Buttons Top -->    
        <div class="row">  
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-basic btn-sm " id="customer_option_active_order_button" 
                            data-toggle="modal" data-target="#active_order_modal" style="margin: 10px 0px;font-size:30px;font-weight:bold;height:90px;width:80%;"></button>
            </div>
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-basic btn-sm " id="customer_option_changes_button" 
                            data-toggle="modal" data-target="#changes_order_modal" style="margin: 10px 0px;font-size:30px;font-weight:bold;height:90px;width:80%;"></button>
            </div>
        </div>  
        <!--Top Buttons Bottom -->    
        <div class="row" style="margin-bottom:20px;">  
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-success btn-sm" id="customer_option_button" style="width:90%;"
                                        data-toggle="modal" data-target="#add_product_modal"><h3 style="font-weight:bold;font-size:30px;">Add<br />Product</h3></button>
            </div>
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-primary btn-custom-1 btn-sm" id="customer_option_button" style="width:90%;"
                            data-toggle="modal" data-target="#get_favourite_order_modal"><h3 style="font-weight:bold;font-size:30px;">Get Favourite<br /> Order</h3></button>
            </div>
        </div> 
    </div>
        <!-- Product List -->            
        <div class="col-md-6" style="padding:0px 0px 20px 0px;background-color:white; border-style:solid; border-width: thick;margin:10px 10px;border-radius:20px;">
            <div class="container-fluid">
                <table id="product_list" class="table table-condensed">
                    <thead style="border-bottom: 3px solid black">
                        <tr>
                            <th id="product_list_header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td style="background-color: rgb(253, 251, 239); margin:0px 0px;">
                            <!-- Product List Accordion -->
                        <div style="text-align: center;font-size:100px;" id="empty_tag" >Empty</div>
                        
                            <div class="panel-group main hide" id="main_accordion" >
                                <div class="panel panel-default" id="product_list_panel">
                                    <div class="panel-heading">
                                        <div class="panel-title pull-left">
                                            <a data-toggle="collapse" data-parent="#main_accordion" href="">
                                                <button type="button" id="product_list_button" style="width:510px" class="btn btn-basic btn-sm btn-block text-left"></button>
                                            </a>
                                        </div>
                                        <div class="panel-title pull-right">
                                            <div class="btn-group btn-group-md" role="group" id="inc_product">
                                                <button type="button" id="item_price" class="btn btn-defualt btn-disabled inc_button"></button>
                                                <button type="button" class="btn btn-default inc_button">
                                                    <span class="glyphicon glyphicon-triangle-top" style="font-size:54px;"></span>
                                                </button>
                                                <button type="button"  class="btn btn-defualt" id="unit_amount" style="font-weight:bold;"></button>
                                                <button type="button" class="btn btn-default inc_button" style="font-weight:bold;">
                                                    <span class="glyphicon glyphicon-triangle-bottom" style="font-size:54px;"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-collapse collapse" id="">
                                        <div class="panel-body">
                                            <button type="button" id="product_option_button" class="btn btn-success col-sm-4"><h3>Info</h3></button>
                                            <button type="button" id="product_option_button" class="btn btn-danger col-sm-4"><h3>Remove</h3></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </td> 
                    </tbody>
                    <tfoot>
                        <tr>
                            <td ><h4 id="total_cost" style="text-align:right;text-decoration:underline;font-weight:bold;"></h4></td>
                        </tr>
                    </tfoot>  
                </table>
            </div>
            <!-- Bottom Buttons -->
            <div class="row" style="text-align: center;">
                <div class="col-sm-6">
                    <button class="btn btn-success btn-sm " disabled="true" id="bottom_option_button"
                                data-toggle="modal" data-target="#submit_order_modal"><h3 style="font-weight:bold;font-size:30px;">Submit <br /> Order</h3></button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger btn-sm " disabled="true" id="bottom_option_button" 
                        data-toggle="modal" data-target="#delete_order_modal"><h3 style="font-weight:bold;font-size:30px;">Delete <br /> Order</h3></button>
                </div>  


                <div class="col-sm-6">
                    <button class="btn btn-custom-1 " id="bottom_option_button"
                                data-toggle="modal" data-target="#history_order_modal"><h3 style="font-weight:bold;font-size:30px;">Account<br />Settings</h3></button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-info btn-sm " disabled="true" id="bottom_option_button" 
                                data-toggle="modal" data-target="#add_favourite_order_modal"><h3 style="font-weight:bold;font-size:30px;">Add Order To<br />Favourites</h3></button>
                </div>           
            </div>
        </div>  
    </div>  
</div>
<!--Add Product Modal-->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_product_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 style="font-weight:bold;" id="add_header"></h3>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search" style="font-size:24pt;height:20%;width:70%;margin-top:20px;"/>
                        </form>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;"><h3>Close</h3></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div id="add_product_list">
                            <table class="table table-striped">
                                <tbody id="add_product_list_item">
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">   
                <div class="row" >
                    <button class="btn btn-sm btn-warning" style="padding:10px;min-width:200px;"><h3>All</h3></button>
                    <button class="btn btn-sm btn-primary" style="padding:10px;min-width:200px;margin-right:25%;"><h3>Favourites</h3></button>
                </div>           
            </div>
        </div>
    </div>
</div>
<!-- Active Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="active_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                    <!--<h3 style="font-weight:bold;">Active Order(s)<br />For Week #1</h3>-->
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;"><h3>Close</h3></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div hidden="true" id="active_order_list">
                        <!-- active List Accordion -->
                        <div class="panel-group active" id="active_accordion" >
                            <div class="panel panel-default" id="active_list_panel">
                                <div class="panel-heading">
                                    <div class="panel-title pull-left">
                                        <a data-toggle="collapse" data-parent="#active_accordion" href="">
                                            <button type="button" id="active_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px; height:100px"></button>
                                        </a>
                                    </div>
                                    <div class="panel-title pull-right">
                                        <button type="button" class="btn btn-md btn-success" style="padding-left:10px;padding-right:10px;padding-bottom:20px;margin-top:5%;">
                                                <h2 style="font-weight:bold;">Activate</h2></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-collapse collapse" id="">
                                    <div class="panel-body" id="active_product_list">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Changes Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="changes_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Changes To Order<br />Since Your Last Visit</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;"><h3>Close</h3></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div id="changes_order_list">
                            <table>
                                <tbody id="changes_order_list_item"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Get Favourite Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="get_favourite_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Favourite Orders</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div id="get_favourite_order_list">
                            <!-- favourite List Accordion -->
                            <div class="panel-group favourite" id="favourite_accordion">
                                <div class="panel panel-default" id="favourite_list_panel">
                                    <div class="panel-heading">
                                        
                                        <div class="panel-title pull-left">
                                            <a data-toggle="collapse" data-parent="#favourite_accordion" href="">
                                                <button type="button" id="favourite_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px"></button>
                                            </a>
                                        </div>
                                        <div class="panel-title pull-right">
                                            <button type="button" class="btn btn-md btn-success" style="padding-left:10px;padding-right:10px;padding-bottom:20px;margin-top:5%;">
                                                    <h2 style="font-weight:bold;">Activate</h2></button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-collapse collapse" id="">
                                        <div class="panel-body" id="favourite_product_list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Submit Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="submit_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Submit Order</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-success "><h3 style="font-weight:bold">Submit And Keep <br />Currrent Order Active</h3></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-info"><h3 style="font-weight:bold;">Submit And <br /> Start A New Order</h3></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- History Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="history_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 style="font-weight:bold;">Order History</h3>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search" style="font-size:18pt;height:20%;width:70%;margin-top:20px;"/>
                            <button class="btn btn-default" style="font-size:18pt;height:20%;width:20%;margin-top:20px;">Go!</button>
                        </form>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <!-- History List Accordion -->
                    <div class="panel-group history" id="history_accordion">
                        <div class="panel panel-default" id="history_list_panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#history_accordion" href="">
                                    <button type="button" id="history_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px"></button>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-collapse collapse" id="">
                                <div class="panel-body" id="history_product_list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Add Favourite Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_favourite_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Favourite Order</h3><h4>Please Give Your Order A Name</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Name" style="font-size:18pt;height:20%;width:100%;"/>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="modal-footer"> 
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                        <button class="btn btn-sm btn-block btn-success"><h2>Submit</h2></button> 
                </div>
                <div class="col-sm-3"></div>   
            </div>
        </div>
    </div>
</div>
<!-- Delete Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="delete_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Are You Sure?</h3><h4>The Order Will Be Lost Forever</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-danger"><h3 style="font-weight:bold">Delete</h3></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-basic"><h3 style="font-weight:bold;">Cancel</h3></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>

<script src="js/user_current_order.js"></script>
</body>
</html>