<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=.37, user-scalable=no"/>
    <link href="css/user_current_order.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  

    <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
</head>
<body style="background-color: rgba(253, 241, 204, 0.288);">
    
        <div class="container-fluid" style="padding:0px; margin: 0px;">
            <nav class="navbar navbar-default" >
               
                    
                    <a href="/user_select_order.html" class="btn btn-custom-1" style="font-size:60px;width:410px;margin:6px;" role="button">Back to Select</a>
                    <a id="logout" class="btn btn-custom-2" href="/logout" role="button">Log out</a>
               
            </nav>
        </div>
   
    <div class="container-fluid">
    <div class="row" >
        <div class="col-md-5" >
            <div class="col-md-12" >
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;background-color:rgb(243, 227, 171);padding-top:15px;border-radius:5px;margin: 10px 0px;">

                    <h2 id="customer_name"></h2><br />
                    </div>
                </div>
                <div class="row" style=" text-align:center;padding: 0px 20px 20px 20px;" >
                
            
            <!-- Invoice to Address -->
            <div class="col-sm-6" >
                <h3 style="font-weight: bold; font-size:30px;">Invoice Details:</h3>
                    <button class="btn btn-default btn-block" type="button" id="invoice_to_button" style="font-size:25px;" ></button>    
               
            </div>
            <!-- Ship to Address -->
            <div class="col-sm-6" >
                <h3 style="font-weight: bold;font-size:30px;">Shipping Details:</h3>
             
                    <button class="btn btn-default btn-block" type="button" id="ship_to_button" style="font-size:25px;" ></button>
    
           
            </div>
        </div>
        </div>
        <!--Top Buttons Top -->    
        <div class="row">  
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-basic btn-sm " id="customer_option_active_order_button" 
                            data-toggle="modal" data-target="#active_order_modal" style="margin: 10px 0px;font-size:30px;font-weight:bold;height:90px;width:80%;"></button>
            </div>
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-basic btn-sm " id="customer_option_changes_button" 
                            data-toggle="modal" data-target="#changes_order_modal" style="margin: 10px 0px;font-size:30px;font-weight:bold;height:90px;width:80%;"></button>
            </div>
        </div>  
        <!--Top Buttons Bottom -->    
        <div class="row" style="margin-bottom:20px;">  
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-custom-1 btn-sm" id="customer_option_button" style="width:90%;font-weight:bold;font-size:30px;"
                                        data-toggle="modal" data-target="#add_product_modal" onclick="findAll();"><h3 style="font-weight:bold;font-size:30px;">Add<br />Product</h3></button>
            </div>
            <div class="col-sm-6 text-center" >
                <button type="button" class="btn btn-custom-2 btn-sm" id="customer_option_button" style="width:90%;"
                            data-toggle="modal" data-target="#get_favourite_order_modal"><h3 style="font-weight:bold;font-size:30px;">Get Favourite<br /> Order</h3></button>
            </div>
        </div> 
    </div>
        <!-- Product List -->    
        <div class="col-md-7">   
        <div class="col-md-12" style="padding:0px 10px 20px 10px;background-color:rgba(230, 222, 222, 0.712); border-style:solid; border-width: 4px;border-radius:20px;margin: 10px 0px; box-shadow: 10px 10px 10px grey;padding:0px 10px;">
            
                    <table id="product_list" class="table table-condensed" >
                        <thead style="border-bottom: 3px solid black">
                            <tr>
                                <th id="product_list_header"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td style="background-color: rgb(253, 251, 239); margin:0px 0px;">
                            <!-- Product List Accordion -->
                            <div style="text-align: center;font-size:100px;background-color:lightgray" id="empty_tag" >Empty</div>
                            
                                <div class="panel-group main hide" id="main_accordion" >
                                    <div class="panel panel-default" id="product_list_panel">
                                        <div class="panel-heading">
                                            

                                                <div class="panel-title pull-left" style="width:490px;">
                                                    <a data-toggle="collapse" data-parent="#main_accordion" href="">
                                                        <button type="button" id="product_list_button"  class="btn btn-basic btn-sm btn-block text-left" style="width:490px;min-height:200px;" ></button>
                                                    </a>
                                                </div>
                                                <div class="panel-title pull-right">
                                                    <div class="btn-group btn-group-md" role="group" id="inc_product" style="margin:50px 5px;" >
                                                        <button type="button" id="item_price" class="btn btn-custom-0 btn-disabled inc_button"></button>
                                                        <button type="button" class="btn btn-default inc_button" style="padding:0px;">
                                                            <span class="glyphicon glyphicon-triangle-top" style="font-size:62px;padding: 2px 3px"></span>
                                                        </button>
                                                        <button type="button"  class="btn btn-custom-0" id="unit_amount" style="font-weight:bold;width:60px;"></button>
                                                        <button type="button" class="btn btn-default inc_button" style="padding:0px;">
                                                            <span class="glyphicon glyphicon-triangle-bottom" style="font-size:62px;padding: 2px 3px;"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                        
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-collapse collapse" id="">
                                            <div class="panel-body">
                                                <button type="button" id="product_option_button" class="btn btn-success col-sm-4"><h3>Info</h3></button>
                                                <button type="button" id="product_option_button" class="btn btn-danger col-sm-4"><h3>Remove</h3></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </td> 
                        </tbody>
                        <tfoot>
                            <tr>
                                <td  id="total_cost" style="text-align:right;font-weight:bold;font-size:40px;border-bottom: 2px solid black;border-top: 2px solid black"></td>
                            </tr>
                        </tfoot>  
                    </table>
            
                <!-- Bottom Buttons -->
                <div class="row" style="text-align: center;">
                    <div class="col-sm-6">
                        <button class="btn btn-custom-1 btn-sm " disabled="true" id="bottom_option_button"
                                    data-toggle="modal" data-target="#submit_order_modal"><h3 style="font-weight:bold;font-size:30px;">Submit <br /> Order</h3></button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-danger btn-sm " disabled="true" id="bottom_option_button" 
                            data-toggle="modal" data-target="#delete_order_modal"><h3 style="font-weight:bold;font-size:30px;">Delete <br /> Order</h3></button>
                    </div>  


                    <div class="col-sm-6">
                        <button class="btn btn-default " id="bottom_option_button"
                                    data-toggle="modal" data-target="#history_order_modal"><h3 style="font-weight:bold;font-size:30px;">Account<br />Settings</h3></button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-custom-2 btn-sm " disabled="true" id="bottom_option_button" 
                                    data-toggle="modal" data-target="#add_favourite_order_modal"><h3 style="font-weight:bold;font-size:30px;">Add Order To<br />Favourites</h3></button>
                    </div>           
                </div>
            </div>  
        </div>
    </div>  
</div>
<!--Add Product Modal-->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_product_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 style="font-weight:bold;" id="add_header"></h3>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search" style="font-size:24pt;height:20%;width:70%;margin-top:20px;"/>
                        </form>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div id="add_product_list">
                            <table class="table table-striped">
                                <tbody id="add_product_list_item">
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">   
                <div class="row" style="text-align: center;" >
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findAll()">All</button>
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findFavourites()">Favourites</button>
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findBees()">Bees</button>
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findLures()">Lures</button>
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findNematodes()">Nematodes</button>
                    <button class="btn btn-sm btn-custom-1" style="padding:10px;width:200px;margin:5px 20px;font-size:30px;font-weight:bold;" onclick="findBugscan()">Bugscan</button>
                </div>           
            </div>
        </div>
    </div>
</div>
<!-- Active Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="active_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                    <!--<h3 style="font-weight:bold;">Active Order(s)<br />For Week #1</h3>-->
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div hidden="true" id="active_order_list">
                        <!-- active List Accordion -->
                        <div class="panel-group active" id="active_accordion" >
                            <div class="panel panel-default" id="active_list_panel">
                                <div class="panel-heading">
                                    <div class="panel-title pull-left">
                                        <a data-toggle="collapse" data-parent="#active_accordion" href="">
                                            <button type="button" id="active_list_button" class="btn btn-basic btn-sm btn-block"></button>
                                        </a>
                                    </div>
                                    <div class="panel-title pull-right">
                                        <button type="button" class="btn btn-md btn-success">Activate</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-collapse collapse" id="">
                                    <div class="panel-body" >
                                        <table id="active_product_list">

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Changes Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="changes_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Changes To Order</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                      
                        <div id="changes_order_list">
                            <table class="table">
                                <tbody id="changes_order_list_item"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Get Favourite Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="get_favourite_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Favourite Orders</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-12">
                        <div id="get_favourite_order_list">
                            <!-- favourite List Accordion -->
                            <div class="panel-group favourite" id="favourite_accordion">
                                <div class="panel panel-default" id="favourite_list_panel">
                                    <div class="panel-heading">
                                        
                                        <div class="panel-title pull-left">
                                            <a data-toggle="collapse" data-parent="#favourite_accordion" href="">
                                                <button type="button" id="favourite_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px"></button>
                                            </a>
                                        </div>
                                        <div class="panel-title pull-right">
                                                <button type="button" class="btn btn-md btn-success">Activate</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-collapse collapse" id="">
                                        <div class="panel-body" id="favourite_product_list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Submit Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="submit_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Submit Order</h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-success" style="font-weight:bold;font-size:40px;" onclick="submitKeepActive()">Submit And Keep <br />Currrent Order <br />Active</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-info" style="font-weight:bold;font-size:40px;" onclick="submitCreateNew()">Submit And <br /> Start A New Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- History Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="history_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 style="font-weight:bold;">Order History</h3>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search" style="font-size:18pt;height:20%;width:70%;margin-top:20px;"/>
                            <button class="btn btn-default" style="font-size:18pt;height:20%;width:20%;margin-top:20px;">Go!</button>
                        </form>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <!-- History List Accordion -->
                    <div class="panel-group history" id="history_accordion">
                        <div class="panel panel-default" id="history_list_panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#history_accordion" href="">
                                    <button type="button" id="history_list_button" class="btn btn-basic btn-sm btn-block" style="text-align:left; padding-left:6px"></button>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-collapse collapse" id="">
                                <div class="panel-body" id="history_product_list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
<!-- Add Favourite Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="add_favourite_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;font-size:40px;">Favourite Order</h3><h4 style="font-size:30px;">Please Give Your Order A Name</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="fav_input" placeholder="Name" style="font-size:60px;height:80px;width:100%;font-weight:bold;"/>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="modal-footer"> 
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                        <button class="btn btn-sm btn-block btn-success" onclick="favOrderSubmit()" style="font-size:40px;font-weight:bold;">Submit</button> 
                </div>
                <div class="col-sm-3"></div>   
            </div>
        </div>
    </div>
</div>
<!-- Delete Order Modal -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" id="delete_order_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 style="font-weight:bold;">Are You Sure?</h3><h4>The Order Will Be Lost Forever</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-custom-2 btn-lg" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-danger"><h3 style="font-weight:bold">Delete</h3></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="submit_modal_button">
                        <button class="btn btn-lg btn-basic"><h3 style="font-weight:bold;">Cancel</h3></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>

<script src="js/user_current_order.js"></script>
</body>
</html>