<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biobest App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/user_select_order.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <link rel="icon" type="image/jpg" href="images/bee_icon.jpg" />
</head>
<body style="background-color: rgba(255, 242, 202, 0.288);">
   
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-left"></a>
                    </div>
                    <a id="logout" class="btn btn-custom-2" href="/logout" role="button">Log out</a>
                </div>
            </nav>
        </div>
  
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-1" ></div>
            <div class="col-lg-10" >
                <table style="width:100%;" >
                    <tbody id="select_list">
                       
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1" ></div>
        </div>
    </div>


<script src="js/user_select_order.js"></script>
</body>
</html>